/* <-- PAGE HEADER --> */

/* '#hc-page-header-tickets' class selector - style(s) applied to all elements with id '#hc-page-header-tickets' */
#hc-page-header-tickets{
    background: url('../img/harajuku-tickets-banner.jpg');
}

/* <-- TICKET DETAILS --> */

.card
{
    border-color: #ff6666;
    border-width: 5px;
}


/* <-- FORM --> */