/* <-- PAGE HEADER --> */

/* '#hc-page-header-tickets' class selector - style(s) applied to all elements with id '#hc-page-header-tickets' */
#hc-page-header-tickets{
    background: url('../img/harajuku-tickets-banner.jpg');
}

/* <-- TICKET DETAILS --> */

.card
{
    border-color: #ff6666;
    border-width: 5px;
}

.ticket-btn
{
    color: white;
    background-color: #ff6666;
}

/* Override the default card footer styling from Bootstrap */
.card-footer
{
    background-color: white;
    text-align: center;
    border-top: none;
}

.horizontal_dotted_line{
    border-bottom: 8px dotted #ff6666;
    width: 100%;
    padding-top: 40px;

}

/* <-- PAYMENT --> */
/*
#ticket-type
{
    width: 100%;
}